[submodule "contracts/lib/ekubo-v3"]
	path = contracts/lib/ekubo-v3
	url = https://github.com/EkuboProtocol/evm-contracts.git
[submodule "contracts/blueswap/lib/v2-core"]
	path = contracts/blueswap/lib/v2-core
	url = https://github.com/Uniswap/v2-core.git
[submodule "contracts/blueswap/lib/v2-periphery"]
	path = contracts/blueswap/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery.git
[submodule "contracts/blueswap/lib/solidity-lib"]
	path = contracts/blueswap/lib/solidity-lib
	url = https://github.com/Uniswap/solidity-lib.git
